mixin title(options)
  case options.tag
    when 'h1'
      h1.title.title_h1(class=options.addClass)= options.content ? options.content : 'title'
    when 'h2'
      h2.title.title_h2(class=options.addClass)= options.content ? options.content : 'title'
    when 'h3'
      h3.title.title_h3(class=options.addClass)= options.content ? options.content : 'title'
    default
      h3.title.title_h3(class=options.addClass)= options.content ? options.content : 'title'