.filter {
	&__datepicker-wrap {
		margin-bottom: 20px;
		position: relative;
	}
	&__dropdown-guests {
		margin-bottom: 30px;
	}
	&__checkbox-buttons {
    padding-right: 20px;
    margin-bottom: 31px;
	}
	&__rich-checkbox-buttons {
		margin-bottom: 29px;
	}
	&__slider {
		margin-bottom: 29px;
	}
	&__dropdown-comfort {
		margin-bottom: 15px;
	}
}