.date-dropdown {
  max-width: 150px;
  position: relative;
  &__title {
    margin-bottom: 5px;
  }
  &__input {
    box-sizing: border-box;
    border: 1px solid $darkShadeColor25;
    border-radius: 4px;
    color: $darkShadeColor75;
    display: block;
    width: 100%;
    max-width: 320px;
    height: 44px;
    padding: 0 15px;
    outline: none;
    font-family: $mainFont1;
    font-size: rem(14px);
    &:focus, &:hover {
      border: 1px solid $darkShadeColor50;
    }
    &::placeholder {
      color: $darkShadeColor75;
      font-family: $mainFont1;
      text-decoration: none;
      font-size: rem(14px);
    }
  }
  &__icon-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkShadeColor50;
    width: 48px;
    height: 44px;
    cursor: pointer;
    font-size: rem(8px);
  }
}