.room-advantage {
  display: flex;
  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 48px;
    height: 48px;
    font-size: rem(40px);
    padding-top: 2px;
    margin-right: 10px;
  }
  &__icon {
    display: flex;
    align-items: center;
  }
  &__icon:before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    color: transparent;
  }
  &__content {
    font-size: rem(14px);
    color: $darkShadeColor75;
  }
  &__title {
    font-family: $mainFont1;
    font-weight: bold;
    margin-bottom: 7px;
  }
}