mixin roomAdvantage(options)
  .room-advantage(class= options.addClass)
    .room-advantage__icon-wrap
      i.room-advantage__icon(class=options.icon)
    .room-advantage__content
      .room-advantage__title= options.title
      .room-advantage__content-text= options.content